.signUp{
  position:relative;
  margin: 70 auto;
  width: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color:gray;
  color:white;
  border-radius: 15px;
}

.data p{
  font-size:25px;
}


.data input,
.data button {
  margin: 5px 0;
  padding: 20px;
  font-size: 1.2em;
  border-radius: 3px;
}

.data input {
  margin:auto;
}
.data input[type=submit]{
  width: 500px;
  background-color: white;
  color: black;
}

.data input[type=submit]:hover{background-color: darkorange};

.data .gender label{
  font-size:25px;
}
